
<div [formGroup]="filterForm">
  <input type="text" class="search" formControlName="filterText" placeholder="Search for names..">
  <span>Only Read Books</span><input type="checkbox" formControlName="onlyRead">
  <span>Alphabet Ordering</span><input type="checkbox" formControlName="alphabetOrder">
  <button (click)="findBooks()">Search</button>
</div>

<div class="container content-wrapper">
  <div *ngFor="let book of books">
    <app-book (click)="editBook(book)" [book]="book"></app-book>
    <button class="delete" (click)="deleteBook(book)">Delete</button>
  </div>
  <div (click)="addBook()" class="small-card">
    <p>Add Book</p>
  </div>
</div>
